.authors {
  font-size: .75rem;
  padding: 0;

  li {
    display: inline-block;
  }

  .author {
    font-weight: bold;
  }
  sup {
    top: 0;
  }

}

.overline {
  color: #d40016;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: bold;
  letter-spacing: .5px;
  margin-top: 0;
  margin-bottom: .5em;
}

.article-aside {
  margin-top: 1rem;

  p {
    font-size: 0.75em;
    line-height: 1em;
    color: $font-light-grey;
  }

  img {
    width: 100%;
    padding-bottom: .625rem;
  }

  .source {
    color: $font-dark-grey;
    font-weight: 700;
  }
}