@font-face {
  font-family: 'FA';
  src: url('../fonts/fa.woff2') format('woff2'),
       url('../fonts/fa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FA;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.fa-search:before {
  content: "\f002";
}

.fa-bars:before {
  content: "\f0c9";
}