body {
  font-family: $primary-font;
  color: $font-med-grey;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.2em;
  margin: 0 0 0.25em 0;
}

h2 {
  font-size: 1.25rem;
  @extend %headers;
}

h3 {
  font-size: 0.875rem;
  @extend %headers;
}

p {
  font-size: 0.9375em;
  & + h2, & + h3 {
    margin-top: 3rem;
  }
}

article {
  margin-bottom: 1rem;
}

.mobile-only {
  display: block;
}

@media only screen and (min-width:575px) {
  
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .container {
    padding: 0;
  }

  .mobile-only {
    display: none;
  }

}