.header {
  padding-top: 1em;
  padding-bottom: 1em;
}

.logo-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em 0;

  .logo {
    float: left;
    
    img {
      max-width: 150px;
    }
  }

  .search {
    display: none;
    position: relative;
    text-align: right;
    align-self: flex-end;
    width: 100%;
    margin-top: 1em;

    ::placeholder {
      color: $font-light-grey;
      font-weight: 700;
    }

    input[name="search"] {
      font-size: 0.75rem;
      font-weight: 700;
      border: 1px solid $font-light-grey;
      background: $background-light-grey;
      padding: 0.5rem 2.25rem 0.5rem 0.5rem;
      width: 100%;
    }

    .search-btn {
      position: absolute;
      border: none;
      background: transparent;
      color: $font-light-grey;
      font-size: 1rem;
      right: 0.125rem;
      top: 0.35rem;
    }
    .search-btn:hover {
      cursor: pointer;
    }
  }
}

.navbar {
  padding: 0;
}
nav {
  a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid $font-red;
  }

  .nav {
    display: flex;
    align-items: end;

    li {
      @include dark-bar;
      display: block;
      width: 100%;
      border-bottom: 1px solid $background-light-grey;
      padding: 0.5em;

    }
  }
}

.navbar-toggle, .search-btn-mobile {
  border: 0;
  color: #fff;
  background: $background-dark-grey;
  
  .fa {
    font-size: 1.5rem;
    line-height: 1.5em;
    width: 1.125em;
    height: 1.5em;

    &:hover {
      color: $blue-hover;
      cursor: pointer;
    }
  }
}


@media only screen and (min-width:575px) {
  
  .header {
    padding: 1rem 0 2rem;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar {
    padding: .5rem 1rem;
  }

  .logo-search {
    flex-wrap: nowrap;
    
    .search {
      width: 50%;
      display: block !important; /* Needed to override inline display:none from JS slideToggle*/

      input[name="search"] {
        width: 50%;
      }
    }

    .logo {
      img {
        max-width: 175px;
      }
    }
  }

  nav {
    @include dark-bar;
    .nav {
      li {
        display: list-item;
        width: auto;
        padding: 0;
        border-bottom: none;
      }
      li + li {
        margin-left: 3em; /* IE fallback */
      }
    }
  }

  @supports (display: grid) {
    nav .nav {
      display: grid;
      grid-template-rows: auto;
      grid-auto-flow: column;
      grid-gap: 3em;

      li + li{
        margin-left: 0;
      }
    }
  }
}