.summary {
  font-size: 0.75em;

  tbody tr:nth-child(odd) {
    background: $background-light-grey;
  }

  thead {
    @include dark-bar;
  }

  td, th {
    padding: 0.25em;
    vertical-align: top;
  }
  th {
    font-weight: 700;
  }
}
.summary-container {
  position: relative;

  .lazy-load-fade {
    position: absolute;
    bottom: 1em;
    background: linear-gradient(transparent, #fff);
    height: 8em;
    width: 100%;
  }

}


@media only screen and (min-width:575px) {
  .summary-container {
    .lazy-load-fade {
      bottom: 0;
    }
  }
}