$font-dark-grey: #333;
$font-med-grey: #666;
$font-light-grey: #9c9c9c;
$font-red: #d40016;
$background-dark-grey: #1a1a1a;
$background-light-grey: #f7f5f0;
$blue-hover: #37588A;

$primary-font: Roboto, Arial, Sans-serif;